<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <span class="sparkle">✨</span>
      <span class="brand-name">Sparkle</span>
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/feed" routerLinkActive="active">
        <span class="icon">🏠</span>
        Feed
      </a>
    </li>
    <li *ngIf="isLoggedIn()">
      <a routerLink="/profile" routerLinkActive="active">
        <span class="icon">👤</span>
        Profile
      </a>
    </li>
    <li *ngIf="!isLoggedIn()">
      <a routerLink="/auth/signin" routerLinkActive="active" class="auth-link"
        >Login</a
      >
    </li>
    <li *ngIf="!isLoggedIn()">
      <a routerLink="/auth/signup" routerLinkActive="active" class="signup-btn"
        >Sign Up</a
      >
    </li>
    <li *ngIf="isLoggedIn()">
      <button (click)="logout()" class="logout-btn">
        <span class="icon">🚪</span>
        Logout
      </button>
    </li>
  </ul>
  <button class="theme-toggle" (click)="toggleTheme()">
    {{ isDarkTheme() ? "☀️" : "🌙" }}
  </button>
</nav>
