<main>
    <div class="container">
        <!-- start left section code -->
        <div class="left">
            <div class="profail_info">
                <img src="./imgs/profile_pic1.webp" alt="">
                <div class="user_name">
                    <h4>john</h4>
                    <p><i class="ri-at-line"></i> john</p>
                </div>
            </div>
            <div class="pages_list">
                <a class="menu_item active">
                    <span>
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <p>Home</p>
                </a>

                <a class="menu_item">
                    <span>
                        <i class="fa-regular fa-compass"></i>
                    </span>
                    <p>Explore</p>
                </a>

                <a class="menu_item" id="Notifications">
                    <span>
                        <i class="fa-regular fa-bell"> <small class="Notifications_count">9+</small> </i>
                    </span>
                    <p>Notifications</p>
                    <!-- <div class="Notifications_popup">
                        <div>
                            <div class="profail_photo">
                                <img class="profail_photo" src="./imgs/profile_pic2.avif" alt="">
                            </div>
                            <div class="Notifications_body">
                                <b>Ahmed</b> Accepted your friend request
                                <small>2 Hours Ago</small>
                            </div>
                        </div>
                        <div>
                            <div class="profail_photo">
                                <img class="profail_photo" src="./imgs/profile_pic3.jpg" alt="">
                            </div>
                            <div class="Notifications_body">
                                <b>mohammed</b> Liked your post
                                <small>1 Day Ago</small>
                            </div>
                        </div>
                        <div>
                            <div class="profail_photo">
                                <img class="profail_photo" src="./imgs/profile_pic5.avif ">
                            </div>
                            <div class=" Notifications_body">
                                <b>Ali</b> commented on your post
                                <small>2 DAYS AGO</small>
                            </div>
                        </div>
                        <div>
                            <div class="profail_photo">
                                <img class="profail_photo" src="./imgs/profile_pic6.avif" alt="">
                            </div>
                            <div class="Notifications_body">
                                <b>weam</b> Accepted your friend request
                                <small>4 DAYS AGO</small>
                            </div>
                        </div>
                    </div> -->
                </a>

                <a class="menu_item" id="Messages_Notifications">
                    <span>
                        <i class="fa-regular fa-message"> <small class="Notifications_count">6</small> </i>
                    </span>
                    <p>Messages</p>
                </a>
                <a class="menu_item">
                    <span>
                        <i class="fa-solid fa-users"></i>
                    </span>
                    <p>Friends</p>
                </a>
                <a class="menu_item" id="theme">
                    <span>
                        <i class="fa-solid fa-palette"></i>
                    </span>
                    <p>Theme</p>
                </a>
                <a class="menu_item">
                    <span>
                        <i class="fa-solid fa-gear"></i>
                    </span>
                    <p>Settings</p>
                </a>


            </div>
            <div class="creat_botton">
                <label for="creat-post" class="btn btn-primary">creat post</label>
            </div>
        </div>
        <!-- end left section code -->

        <!-- start mean section code -->
        <div class="middel">

            <div class="creat_post_section">
                <form class="creat-post">

                    <div class="profail_photo">
                        <img class="profail_photo" src="./imgs/profile_pic1.webp" alt="">
                    </div>
                    <input type="text" placeholder="What is on your mind ?" id="creat-post">
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>
            </div>
            <div class="posts">
                <!-------------------- 1st post--------------->
                <div class="post">
                    <div class="head">
                        <div class="user">
                            <div class="profail_photo">
                                <img class="profail_photo" src="./imgs/profile_pic4.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Lana Rose</h3>
                                <small> USA , 15 Minutes Ago</small>
                            </div>
                        </div>
                        <span class="edit"><i class="fa-solid fa-ellipsis"></i></span>
                    </div>
                    <div class="photo">
                        <img width="100%" src="./imgs/post1.jpg">
                    </div>
                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <i id="like-btn" class="ri-bard-line"></i>
                            <span id="like-count"></span>

                            <span> <i class="ri-chat-1-line"></i></span>
                            <span> <i class="ri-share-line"></i></span>
                        </div>
                        <div class="bookmark">
                            <span> <i class="fa-regular fa-bookmark"></i></span>
                        </div>
                    </div>
                    <div class="liked-by">
                        <span>
                            <img src="./imgs/profile_pic5.avif" alt="">
                        </span>
                        <span>
                            <img src="./imgs/profile_pic2.avif" alt="">
                        </span>
                        <span>
                            <img src="./imgs/profile_pic3.jpg" alt="">
                        </span>
                        <P>Sparked by <b>Emily Miller</b> and <b>220 Otheres </b></P>
                    </div>
                    <div class="caption">
                        <p><b>Lana Rose</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi,
                            provident quas
                            repudiandae laudantium <span class="harsg-tag">#life_style</span></p>
                    </div>
                    <div class="comments text-muted">
                        view all 310 comments
                    </div>

                </div>
            </div>
        </div>

        <!-- end mean section code -->

        <!-- start right section code -->
        <div class="right">
            <div class="Messages">
                <div class="heading">
                    <h4>Messages</h4><i class="fa-regular fa-message"></i>
                </div>
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="search messages" id="messages-search">
                </div>
                <div class="category">
                    <h6 class="active"> Primary</h6>
                    <h6>General</h6>
                    <h6 class="message-requests">Requests (5)</h6>
                </div>
                <div class="messages">
                    <div class="message">
                        <div class="profile-photo">
                            <img class="profail_photo" src="./imgs/profile_pic3.jpg" alt="">
                        </div>
                        <div class="message-body">
                            <h5>Emily Miller</h5>
                            <p class="text-bold"> 2 New Messages</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-photo">
                            <img class="profail_photo" src="./imgs/profile_pic2.avif" alt="">
                            <div class="active"></div>
                        </div>

                        <div class="message-body">
                            <h5>mark Andersen</h5>
                            <p class="text-muted"> No way he said that , are you serious </p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-photo">
                            <img class="profail_photo" src="./imgs/profile_pic4.jpg" alt="">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Olivia Brown</h5>
                            <p class="text-muted"> lol , U right</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-photo">
                            <img class="profail_photo" src="./imgs/profile_pic5.avif" alt="">
                        </div>
                        <div class="message-body">
                            <h5>James Moore</h5>
                            <p class="text-muted"> okay </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="requests">
                <div class="friend-request">
                    <h4>People you may know</h4>
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img class="profail_photo" src="./imgs/profile_pic5.avif" alt="">
                            </div>

                            <div>
                                <h5>Noah Johnson</h5>
                                <p class="text-muted"> 8 mutual frineds</p>

                            </div>

                        </div>
                        <div class="action">
                            <button class="btn btn-primary">+ Follow</button>
                            <button class="btn btn">Decline</button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img class="profail_photo" src="./imgs/profile_pic5.avif" alt="">
                            </div>

                            <div>
                                <h5>Noah Johnson</h5>
                                <p class="text-muted"> 8 mutual frineds</p>

                            </div>

                        </div>
                        <div class="action">
                            <button class="btn btn-primary">+ Follow</button>
                            <button class="btn btn">Decline</button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img class="profail_photo" src="./imgs/profile_pic5.avif" alt="">
                            </div>

                            <div>
                                <h5>Noah Johnson</h5>
                                <p class="text-muted"> 8 mutual frineds</p>

                            </div>

                        </div>
                        <div class="action">
                            <button class="btn btn-primary">+ Follow</button>
                            <button class="btn btn">Decline</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end right section code -->

        <!-- start theme customize section -->

        <!-- end theme customize section -->
    </div>

</main>
